/****************
GENERAL STYLING
****************/

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

html {
    overflow-y: scroll;
    font-style: 'Noto Sans', 'Arial', sans-serif;
}

body {
    font-family: sans-serif;
    margin: 0; padding: 0;
    background-color: #999;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	float: left;
}

/****************
GRID
****************/

.item {
  float: left;
  position: relative;
  line-height: 1em;
}


.grid-sizer { width: 20%; }
.item { width: 20%; }

.image{
  max-width: 100%;
  margin: 0;
  display: block;
}

.image:after {
  clear:both;
}

/****************
TEXT OVERLAY 
****************/

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #fff;
  display: none;
}

.overlay .title {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: #EEE;
}

.overlay .description {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #EEE;
  text-align: center; 
  background-color: rgba(0,0,0,0.0);
  width: 100%;
  margin: 0;
}

.overlay .description p {
  margin: 20px;
  text-decoration: none;
}

.item:hover .overlay {
  display: block;
  text-decoration: none;
}

.description {
	padding-bottom: 15px;
}

/****************
RESPONSIVE 
****************/

@media screen and (max-width: 1224px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 33.33%; }
  .item { width: 33.33%; }
}

@media screen and (max-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 50%; }
  .item { width: 50%; }
}

@media screen and (max-width: 480px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 100%; }
  .item { width: 100%; }
}


/****************
NAVBAR
****************/

#navbar {
	height: 45px;
	margin: 0px 0px 10px 10px;
	position: relative;
  top: 0;
  font-size: 24px;
  background-color: #999;
  color: #EEE;
}

#navbar ul {
	float: right;
	display: inline;
	font-size: 16px;
	font-style: 'Noto Sans';
}

#navbar ul li {
  list-style-type: none;	
	float: right;
	padding-left: 10px; padding-right: 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
}

#navbar ul li a:hover {
	text-decoration: none;
}
