/*GENERAL STYLING*/
body {
	background-color: #ecf0f1;
}

/*SIDEBAR*/ 



#sidebar {
	display: block;
	overflow: hidden;
	top:0px;
	bottom: 0px;
	left: 0px;
	position: fixed;
	width: 65px;
	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(top,  #b3dced 0%, #29b8e5 83%, #29b8e5 100%, #bce0ee 100%, #29b8e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3dced), color-stop(83%,#29b8e5), color-stop(100%,#29b8e5), color-stop(100%,#bce0ee), color-stop(100%,#29b8e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b3dced 0%,#29b8e5 83%,#29b8e5 100%,#bce0ee 100%,#29b8e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b3dced 0%,#29b8e5 83%,#29b8e5 100%,#bce0ee 100%,#29b8e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b3dced 0%,#29b8e5 83%,#29b8e5 100%,#bce0ee 100%,#29b8e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b3dced 0%,#29b8e5 83%,#29b8e5 100%,#bce0ee 100%,#29b8e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */

}

#tool-icons {
	margin-top: 180px;
}
.tool-icon {
	text-align: center;
	padding: 10px 0 10px 0;
}

#jquery {background-color: none; cursor: pointer;}
#javascript {background-color: none; cursor: pointer;}
#html5 {background-color: none; cursor: pointer;}
#css3 {background-color: none; cursor: pointer;}
#rails {background-color: none; cursor: pointer;}
#php {background-color: none; cursor: pointer;}

.icon {
	height: 50px;
	width: auto;
	border-radius: 30%;
}


/****************
HEADER
****************/

#header {
	height: 150px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	font-family: 'Arvo', 'Georgia', Helvetica, sans-serif;
	color: #fff;
	z-index: 3;
	position: fixed;
}

#header-text h1 {
	text-align: right;
	font-size: 1.4em;	
	font-family: 'Arvo', 'Georgia', Helvetica, sans-serif;
	padding-top: 5px;
	color: #fff;
	margin-top: -30px;
}

h1 {
	text-align: center;
	font-size: 2.0em;
	font-family: 'Arvo', 'Georgia', Helvetica, sans-serif;
	padding-top: 10px;
	padding-left: 10px;
	color: #ecf0f1;
	font-weight: bold;
	z-index: 2;
	position: relative;
}

#icon-tray {
	margin-top: 150px;
	padding: 25px 0 25px 0;
	text-align: center;
}

#facebook {background-color: #3B5998; }
#linkedin {background-color: #007FB1; }
#twitter {background-color: #00ACED; }
#instagram {background-color: #3F729B; }
#google-plus {background-color: #D14836; }
#pinterest {background-color: #CB2027; }
#quora {background-color: #A82400}
#spotify {background-color: #80B719; }
#treehouse {background-color: #7FA24C; }
#github {background-color: #000000; }
#email {background-color: #7f8c8d; }

/*PROJECT GRID*/

.project {
	text-align: center;
	border-color: red 1px;
	background-color: white;
	height: 170px;
	width: 170px;
	display: inline;
	border: 1px red;
}

#project-grid {
	background-color: #ecf0f1;
	display: inline;
}